body {
  background: #eee;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.68fr 1fr;
  grid-template-rows: 1fr 1.68fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  max-width: 1440px;
  max-height: 913px;
  margin: 0 auto;
  color: #373a6d;
}

.header,
.start {
  grid-area: 1 / 2 / 2 / 3;
}

#timer {
  grid-area: 1 / 2 / 2 / 3;
  display: none;
  font-family: "Bebas Neue", cursive;
  font-size: 4em;
  margin-top: 0.7em;
}

#question {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 20px;
  margin-top: 181px;
}

.button {
  grid-area: 2 / 2 / 3 / 3;
}

button {
  background: #beeef7;
  border-radius: 10px;
  border-color: #373a6d;
  color: #373a6d;
}

#start-button,
.reset-button {
  width: 170px;
  height: 46px;
  font-size: 1.5em;
  margin-top: 46px;
}

.reset-button {
  width: 181px;
}

.btn {
  width: 88%;
  max-width: 333px;
  margin: 5px;
  padding: 10px;
  font-size: 140%;
}

.start,
#timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Bebas Neue", cursive;
  margin: 0 auto;
  font-size: 81px;
  text-shadow: #ff8246;
  text-shadow: -1px -1px 0 #ff8246, 1px -1px 0 #ff8246, -1px 1px 0 #ff8246,
    1px 1px 0 #ff8246;
}

img {
  width: 100%;
  border-radius: 5px;
}

.sidebar {
  grid-area: 1 / 1 / 4 / 2;
  border-right: 2px solid #ff8246;
  background: linear-gradient(90deg, #6fc2d0 0%, #beeef7 100%);
}

.sidebar-2 {
  grid-area: 1 / 3 / 4 / 4;
  background: #beeef7;
  border-left: 2px solid #ff8246;
  background: linear-gradient(270deg, #6fc2d0 0%, #beeef7 100%);
}
/* -------- Media Query ----------------- */

@media screen and (max-width: 768px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr 0.5fr 0.75fr 4fr 1fr;
    grid-column-gap: 0px;
    background: linear-gradient(180deg, #eee 25%, #6fc2d0 100%);
  }

  .header,
  .start,
  #timer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    grid-area: 1 / 1 / 2 / 2;
  }

  .start {
    grid-area: 2 / 1 / 3 / 2;
  }

  #start-button,
  .reset-button {
    margin: 0;
  }

  #timer {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 2em;
    margin: 0;
  }

  #question {
    grid-area: 3 / 1 / 4 / 2;
    padding: 10px;
    margin: 0;
  }

  .button {
    grid-area: 4 / 1 / 5 / 2;
  }

  .sidebar,
  .sidebar-2 {
    display: none;
  }
}
