.container {
  display: grid;
  grid-template-columns: 1fr 1.68fr 1fr;
  grid-template-rows: 1fr 1.68fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  font-family: "Slabo 27px", serif;
  background: #eee;
  height: 100vh;
  max-width: 1440px;
  max-height: 913px;
  margin: 0 auto;
}

.header, .start {
  grid-area: 1 / 2 / 2 / 3;
}

#timer {
    grid-area: 1 / 2 / 2 / 3;
    display: none;
    font-size: 4em;
}

#question {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 181px;
}
.button {
    grid-area: 2 / 2 / 3 / 3;
}

#start-button,
  .reset-button {
    width: 170px;
    height: 61px;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;
    font-size: 2em;
    margin-top: 46px;
  }

  .reset-button {
      width: 181px;
  }

.btn {
    width: 88%;
    max-width: 333px;
  border-color: black;
  border-width: 1.5px;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  font-size: 140%;
}

.header {

}
  .start,
  #timer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    margin: 0 auto;
    font-size: 81px;
  }
  img {
    width: 100%;
  }
/* -------- Media Query ----------------- */

@media screen and (max-width: 768px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1.5fr) 1fr 4fr 1fr;
    grid-column-gap: 0px;
  }


  .btn {
    border-color: black;
    border-width: 1.5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 140%;
  }

  /* ------- centering here ------- */

  .header,
  .start,
  #timer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    grid-area: 1 / 1 / 2 / 2;
  }

  h1 {
    margin: 0 auto;
    font-size: 81px;
  }
  .start {
    grid-area: 2 / 1 / 3 / 2;
  }

  #start-button,
  .reset-button {
    width: 70%;
    height: 70%;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;
    font-size: 2em;
  }

  #timer {
    grid-area: 2 / 1 / 3 / 2;
    display: none;
    font-size: 4em;
  }

  #question {
    grid-area: 3 / 1 / 4 / 2;
    font-size: 20px;
    padding: 10px;
    margin: 0;
  }

  .button {
    grid-area: 4 / 1 / 5 / 2;
  }

  #summary {
    grid-area: 5 / 1 / 6 / 2;
  }
  /* ------- Grid Template ------- */
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    grid-area: 5 / 1 / 6 / 2;
  }
}
