.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  /* line above creates 3 equal size fractionals */
  /* grid-template-columns: repeat(4, 1fr 2fr); */
  /* line above creates succession 1fr, 2fr, 1fr, 2fr ...*/
  /* grid-template-columns: 20% 60% 20%; 
    previous code works, but fractionals (fr) cause less issues with padding and responsiveness */
  /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
  /* following code does the same as commented out code above */
  /* grid-gap: 0.5em; */
  /* grid-auto-rows: 150px; */
  /* grid-auto-rows: minmax(100px, auto); */
  /* justify-items: stretch; */
  /* align-items: stretch; */
  font-family: "Slabo 27px", serif;
  /* min-height: 30rem; */
  background-color: linear-gradient(to right, #beeef7, #ff8246);
}

.container > div {
  background: #eee;
  /* padding: 1em; */
  text-align: center;
}

.container > div:nth-child(odd) {
  /* background: yellowgreen; */
}

.button {
  display: grid;
  /* grid-auto-rows: minmax(80px, auto); */
}

/* 65:65;
$depth:6;
$color:#7fbb98;
darken(#7fbb98,10%):darken($color,10%);
$lighten-on-hover:7%;
$button-speed:.06;
$timing-function: ease-out; */

/* .button {
    cursor:pointer;
    margin-left:5px;
    margin-bottom:15px;
    text-shadow:0 -2px 0 darken(#7fbb98,20%),0 1px 1px lighten(#7fbb98,20%) ;
    box-sizing:border-box;
    font-size:2em;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration:none;
    font-weight:bold;
    color:darken(#7fbb98,10%);
    /* &:visited {
      color:darken(#7fbb98,10%);
    } */
    /* height:65+px;
    line-height:65+px;
    padding: 0 ((65/2)+px);
    display:inline-block;
    width:auto;
    background: linear-gradient(to bottom,
      saturate(lighten(#7fbb98,15%),35%) 0%,
      saturate(lighten(#7fbb98,12%),15%) 26%,
      (#7fbb98 100%);
    border-radius:5px;
    border-top:1px solid lighten(#7fbb98,22%);
    border-bottom:1px solid lighten(#7fbb98,20%);
   top:0;
    transition:all (.06s) ease-out;
    position:relative;
  } */ 
/* -------- Media Query ----------------- */

@media screen and (max-width: 768px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1.5fr) 1fr 4fr 1fr;
    grid-column-gap: 0px;
    /* grid-row-gap: 10px; */
    background-color: linear-gradient(to right, #beeef7, #ff8246);

  }

  img {
      width: 100%;
  }

.btn {
    border-color: black;
    border-width: 1.5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 140%;
}

  /* ------- centering here ------- */

  .header,
  .start,
  #timer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    grid-area: 1 / 1 / 2 / 2;
    /* font-size: 32px; */
  }

  h1 {
    margin: 0 auto;
    font-size: 81px;
  }
  .start {
    grid-area: 2 / 1 / 3 / 2;
  }

  #start-button,
  .reset-button{
    width: 70%;
    height: 70%;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;
    font-size: 2em;
  }

  #timer {
    grid-area: 2 / 1 / 3 / 2;
    display: none;
    font-size: 4em;
  }

  #question {
    grid-area: 3 / 1 / 4 / 2;
    font-size: 20px;
    padding: 10px;
  }

  .button {
    grid-area: 4 / 1 / 5 / 2;
  }

  #summary {
    grid-area: 5 / 1 / 6 / 2;
  }
/* ------- Grid Template ------- */
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    grid-area: 5 / 1 / 6 / 2;
  }
}
